

    <div class="header">
        <header><div class="container"><h1>PARCIAL DESARROLLO BOOTSTRAP</h1></div></header> 
        <div class="container"></div>
    </div>

    <div class="container">
        <section class="row">
            <article class="col-xs-6 col-sd-7 col-md-8 col-lg-9 col-xl-2 article1">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste, in similique 
                    commodi amet  consequuntur adipisci harum vero enim ullam deleniti molestias 
                    architecto sint eum minima quibusdam, facilis ab, unde minus.
                </p>
            </article>
            <article class="col-xs-6 col-sd-7 col-md-8 col-lg-9 col-xl-2 article2 ">
                <mark>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste, in similique 
                    commodi amet  consequuntur adipisci harum vero enim ullam deleniti molestias 
                    architecto sint eum minima quibusdam, facilis ab, unde minus.
                </mark>
            </article>
            <article class="col-xs-6 col-sd-7 col-md-8 col-lg-9 col-xl-2 article3">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste, in similique 
                    commodi amet  consequuntur adipisci harum vero enim ullam deleniti molestias 
                    architecto sint eum minima quibusdam, facilis ab, unde minus.
                </p>
            </article>
            <article class="col-xs-6 col-sd-7 col-md-8 col-lg-9 col-xl-2 article4">
                <p><del>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste, in similique 
                    commodi amet  consequuntur adipisci harum vero enim ullam deleniti molestias 
                    architecto sint eum minima quibusdam, facilis ab, unde minus.</del>
                </p>
            </article>
        </section>
    </div>

<section class="container">
    <div class="container">
        <section class="row">
            <article class="col-xs-6 col-sd-7 col-md-8 col-lg-9 col-xl-6 article5">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste, in similique 
                    commodi amet  consequuntur adipisci harum vero enim ullam deleniti molestias 
                    architecto sint eum minima quibusdam, facilis ab, unde minus.
                </p>
            </article>
            <article class="col-xs-6 col-sd-7 col-md-8 col-lg-9 col-xl-5 article6">
                <div class="container">
                    <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped">
                  
                    <tr class=" table-danger">
                      <th>#</th>
                      <th>Usuario</th>
                      <th>Nombre</th>
                      <th>#</th>
                      <th>Usuario</th>
                                                                                                                         
                    </tr>
                    
                    <tr>
                      <td>1</td>
                      <td>Nombre 1</td>
                      <td>Usuario 1</td>
                  
                    </tr>
                  
                  
                    <tr>
                      <td>2</td>
                      <td class="table-active">Nombre 2</td>
                      <td>Usuario 2</td>
                  
                    </tr>
                  
                  
                    
                  
                  
                  </table>
                  </div>
                  </div>
            </article>
            
        </section>
    </div>
</section>

<div class="container">
    <section class="row">
        <article class="col-xs-6 col-sd-7 col-md-8 col-lg-9 col-xl-6 article17">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste, in similique 
                commodi amet  consequuntur adipisci harum vero enim ullam deleniti molestias 
                architecto sint eum minima quibusdam, facilis ab, unde minus.
            </p>
        </article>
        <article class="col-xs-6 col-sd-7 col-md-8 col-lg-9 col-xl-4 article18">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste, in similique 
                commodi amet  consequuntur adipisci harum vero enim ullam deleniti molestias 
                architecto sint eum minima quibusdam, facilis ab, unde minus.
            </p>
        </article>
        
    </section>
</div>



<div class="container2">
<div class="container">
    <section class="row">
        <article class="col-xs-6 col-sd-7 col-md-8 col-lg-9 col-xl-2 article11">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste, in similique 
                commodi amet  consequuntur adipisci harum vero enim ullam deleniti molestias 
                
            </p>
        </article>
        <article class="col-xs-6 col-sd-7 col-md-8 col-lg-9 col-xl-2 article12">
        <mark>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste, in similique 
                commodi amet  consequuntur adipisci harum vero enim ullam deleniti molestias 
                
        </mark>
        </article>
        <article class="col-xs-6 col-sd-7 col-md-8 col-lg-9 col-xl-2 article13">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste, in similique 
                commodi amet  consequuntur adipisci harum vero enim ullam deleniti molestias 
                
            </p>
        </article>
        <article class="col-xs-6 col-sd-7 col-md-8 col-lg-9 col-xl-2 article14">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste, in similique 
                commodi amet  consequuntur adipisci harum vero enim ullam deleniti molestias 
                
            </p>
        </article>
        <article class="col-xs-6 col-sd-7 col-md-8 col-lg-9 col-xl-2 article15">
            <mark>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste, in similique 
                commodi amet  consequuntur adipisci harum vero enim ullam deleniti molestias 
                
            </mark>
        </article>
    </section>
</div>
</div>
<br>
    

    <div class="footer">
        <header><div class="container"><h2>FOOTER</h2></div></header> 
        <div class="container"></div>
    </div>



    
        
    
        
    
 
    

    

   
