<body>
    <section class="contenedor"> 
        <h1>PRODUCTOS</h1>
        <h2>La Mejor</h2>
        
    </section><br/><br/>

    <div class="contenedor-galeria">
        <ul class="galeria">
            <li><a href="#img1"><img src="assets/imagenes/Panes/pan-10.jpg" alt=""></a></li>
            <li><a href="#img2"><img src="assets/imagenes/Panes/pan-15.jpg" alt=""></a></li>
            <li><a href="#img3"><img src="assets/imagenes/Panes/pan-17.jpg" alt=""></a></li>
            <li><a href="#img4"><img src="assets/imagenes/Panes/pan-18.jpg" alt=""></a></li>
            <li><a href="#img5"><img src="assets/imagenes/Panes/pan-3.jpg" alt=""></a></li>
            <li><a href="#img6"><img src="assets/imagenes/Panes/pan-9.jpg" alt=""></a></li>
            <li><a href="#img7"><img src="assets/imagenes/Panes/pan-extrafino.jpg" alt=""></a></li>
            <li><a href="#img8"><img src="assets/imagenes/Panes/pan-queso.jpg" alt=""></a></li>
           
        </ul>
    </div>

    <div class="modal" id="img1">
        <h3>Pan Pez</h3>
        <p>Precio: $3.000</p>
        <div class="imagen">
            <a href="#img12">&#60;</a>
            <a href="#img2"><img src="assets/imagenes/Panes/pan-10.jpg" alt=""></a>
            <a href="#img2">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modal" id="img2">
        <h3>Pan Oregano</h3>
        <p>Precio: $2.000</p>
        
        <div class="imagen">
            <a href="#img1">&#60;</a>
            <a href="#img3"><img src="assets/imagenes/Panes/pan-15.jpg" alt=""></a>
            <a href="#img3">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modal" id="img3">
        <h3>Pan Leche</h3>
        <p>Precio: $2.000</p>
        
        <div class="imagen">
            <a href="#img2">&#60;</a>
            <a href="#img4"><img src="assets/imagenes/Panes/pan-17.jpg" alt=""></a>
            <a href="#img4">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modal" id="img4">
        <h3>Pan Cascarita </h3>
        <p>Precio: $500</p>
        
        <div class="imagen">
            <a href="#img3">&#60;</a>
            <a href="#img5"><img src="assets/imagenes/Panes/pan-18.jpg" alt=""></a>
            <a href="#img5">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modal" id="img5">
        <h3>Pan Hojuelas</h3>
        <p>Precio: $1.000</p>
         
        <div class="imagen">
            <a href="#img4">&#60;</a>
            <a href="#img6"><img src="assets/imagenes/Panes/pan-3.jpg" alt=""></a>
            <a href="#img6">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modal" id="img6">
        <h3>Pan Tortuga</h3>
        <p>Precio: $2.000</p>
     
        <div class="imagen">
            <a href="#img5">&#60;</a>
            <a href="#img7"><img src="assets/imagenes/Panes/pan-9.jpg" alt=""></a>
            <a href="#img7">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modal" id="img7">
        <h3>Pan Extrafino</h3>
        <p>Precio: $4.000</p>
        
        <div class="imagen">
            <a href="#img6">&#60;</a>
            <a href="#img8"><img src="assets/imagenes/Panes/pan-extrafino.jpg" alt=""></a>
            <a href="#img8">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modal" id="img8">
        <h3>Pan Queso</h3>
        <p>Precio: $3.000</p>
        
        <div class="imagen">
            <a href="#img7">&#60;</a>
            <a href="#img9"><img src="assets/imagenes/Panes/pan-queso.jpg" alt=""></a>
            <a href="#img9">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>
</body>