<body>
    <footer>

        <div class="footer-container">

            <div class="footer-main">
                <div class="footer-columna">
                    <h3>MENU</h3>
                    <nav>
                        <ul><a href="index.html">INICIO</a></ul><br>
                        <ul><a href="index_contacto.html">CONTACTO</a></ul>
                </nav>
                </div>
                <div class="footer-columna">
                    <h3>PRODUCTOS</h3>
                    <nav>
                        <ul><a href="index_tortas.html">TORTAS</a></ul><br>
                        <ul><a href="index_ponques.html">PONQUÉS</a></ul><br>
                        <ul><a href="index_panaderia.html">PANADERÍA</a></ul><br>
                        <ul><a href="index_bizcoheria.html">BIZCOCHERÍA</a></ul>
                    </nav>
                </div>
                <div class="footer-columna">
                    <nav>
                    <h3>CONTACTO</h3>
                    <ul><p>Calle 9 #3-51 centro,Cúcuta, Norte de Santander</p></ul>
                    <ul><p>(7)5715891</p></ul>
                    <ul><p>contacto@panaderialamejor.com</p></ul>
                    <br/>
                    <br/>
                        <h3>SIGUENOS</h3>

                      <ul><a href="https://www.facebook.com/panaderia.lamejor.7/?ti=as " >Facebook</a></ul>
                      <ul><a href="https://twitter.com/PLaMejor_?s=08" ></a>Twitter</ul> 
                      <ul><a href="https://www.instagram.com/panaderialamejor/?r=nametag" >Instagram</a></ul> 
                    </nav>
                </div>
            </div>
        </div>
    </footer>

</body>