
<body>

    <section class="contenedor"> 
        <h1>PRODUCTOS</h1>
        <h2>La Mejor</h2>
        
    </section><br/><br/>

    <section class="contenedor-columnas" id="pro">
        <br/><br/>
        <h1>NUESTROS PRODUCTOS</h1>
        <br/>
        <h2>TÙ ELIGES</h2>
        <br/>
    
        <div class="columnasx3" id="pro1">
            
            <h4>TORTAS</h4>
            <a class="nav-link active" [routerLink]="['/tortas']"><img src="assets/imagenes/torta.png" alt=""></a>
        
        </div>
        
        <div class="columnasx3" id="pro1">
            
            <h4>PONQUÉS</h4>
            <a class="nav-link active" [routerLink]="['/ponques']"><img src="assets/imagenes/ponque.png" alt=""></a>
        
        </div>
        
        <div class="columnasx3" id="pro1">
            
            <h4>PANADERÍA</h4>
            <a class="nav-link active" [routerLink]="['/panaderia']"><img src="assets/imagenes/pan-extrafino.png" alt=""></a>
        
        </div>
        
        <div class="columnasx3" id="pro1">
            
            <h4>BIZCOCHERÍA</h4>
            <a class="nav-link active" [routerLink]="['/bizcoheria']"><img src="assets/imagenes/dona.png" alt=""></a>
        
        </div>
    
    
    </section>
</body>