<body>

    <section class="contenedor"> 
        <h1>PRODUCTOS</h1>
        <h2>La Mejor</h2>
        
    </section><br/><br/>

     <div class="contenedor-galeria">
        <ul class="galeria">
            <li><a href="#img1"><img src="assets/imagenes/tortas/torta-1.jpg" alt=""></a></li>
            <li><a href="#img2"><img src="assets/imagenes/tortas/torta-10.jpg" alt=""></a></li>
            <li><a href="#img3"><img src="assets/imagenes/tortas/torta-11.jpg" alt=""></a></li>
            <li><a href="#img4"><img src="assets/imagenes/tortas/torta-12.jpg" alt=""></a></li>
            <li><a href="#img5"><img src="assets/imagenes/tortas/torta-13.jpg" alt=""></a></li>
            <li><a href="#img6"><img src="assets/imagenes/tortas/torta-16.jpg" alt=""></a></li>
            <li><a href="#img7"><img src="assets/imagenes/tortas/torta-17.jpg" alt=""></a></li>
            <li><a href="#img8"><img src="assets/imagenes/tortas/torta-18.jpg" alt=""></a></li>
            <li><a href="#img9"><img src="assets/imagenes/tortas/torta-3.jpg" alt=""></a></li>
            <li><a href="#img10"><img src="assets/imagenes/tortas/torta-5.jpg" alt=""></a></li>
            <li><a href="#img11"><img src="assets/imagenes/tortas/torta-6.jpg" alt=""></a></li>
            <li><a href="#img12"><img src="assets/imagenes/tortas/torta-9.jpg" alt=""></a></li>
        </ul>
    </div>

    <div class="modal" id="img1">
        <h3>Torta Loca</h3>
        <p>Precio: $49.900</p>
        <p>Porciones: 15 </p>
        <div class="imagen">
            <a href="#img12">&#60;</a>
            <a href="#img2"><img src="assets/imagenes/tortas/torta-1.jpg" alt=""></a>
            <a href="#img2">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modal" id="img2">
        <h3>Torta 10</h3>
        <p>Precio: $49.900</p>
        <p>Porciones: 15 </p>
        <div class="imagen">
            <a href="#img1">&#60;</a>
            <a href="#img3"><img src="assets/imagenes/tortas/torta-10.jpg" alt=""></a>
            <a href="#img3">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modal" id="img3">
        <h3>Torta 11</h3>
        <p>Precio: $49.900</p>
        <p>Porciones: 15 </p>
        <div class="imagen">
            <a href="#img2">&#60;</a>
            <a href="#img4"><img src="assets/imagenes/tortas/torta-11.jpg" alt=""></a>
            <a href="#img4">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modal" id="img4">
        <h3>Torta Quesillo</h3>
        <p>Precio: $74.900</p>
        <p>Porciones: 20</p>
        <div class="imagen">
            <a href="#img3">&#60;</a>
            <a href="#img5"><img src="assets/imagenes/tortas/torta-12.jpg" alt=""></a>
            <a href="#img5">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modal" id="img5">
        <h3>Torta Tres Leches</h3>
        <p>Porciones: 6 Precio: $33.900</p>
        <p>Porciones: 15 Precio: $51.900</p>
        <p>Porciones: 25 Precio: $73.900</p>
        <div class="imagen">
            <a href="#img4">&#60;</a>
            <a href="#img6"><img src="assets/imagenes/tortas/torta-13.jpg" alt=""></a>
            <a href="#img6">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modal" id="img6">
        <h3>Torta 16</h3>
        <p>Precio: $49.900</p>
        <p>Porciones: 15 </p>
        <div class="imagen">
            <a href="#img5">&#60;</a>
            <a href="#img7"><img src="assets/imagenes/tortas/torta-16.jpg" alt=""></a>
            <a href="#img7">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modal" id="img7">
        <h3>Torta Quesillo</h3>
        <p>Precio: $35.900</p>
        <p>Porciones: 8 </p>
        <div class="imagen">
            <a href="#img6">&#60;</a>
            <a href="#img8"><img src="assets/imagenes/tortas/torta-17.jpg" alt=""></a>
            <a href="#img8">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modal" id="img8">
        <h3>Torta Quesillo</h3>
        <p>Precio: $53.900</p>
        <p>Porciones: 15 </p>
        <div class="imagen">
            <a href="#img7">&#60;</a>
            <a href="#img9"><img src="assets/imagenes/tortas/torta-18.jpg" alt=""></a>
            <a href="#img9">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modal" id="img9">
        <h3>Torta 3</h3>
        <p>Precio: $49.900</p>
        <p>Porciones: 15 </p>
        <div class="imagen">
            <a href="#img8">&#60;</a>
            <a href="#img10"><img src="assets/imagenes/tortas/torta-3.jpg" alt=""></a>
            <a href="#img10">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modal" id="img10">
        <h3>Torta Letra</h3>
        <p>Letra pequeña: 12 cm Precio: $25.000</p>
        <p>Letra grande: 20-25 cm Precio: $50.000</p>
        <p>Porciones: Pequeña:6-8 Grande: 15-20 </p>
        <div class="imagen">
            <a href="#img9">&#60;</a>
            <a href="#img11"><img src="assets/imagenes/tortas/torta-5.jpg" alt=""></a>
            <a href="#img11">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modal" id="img11">
        <h3>Torta Letra</h3>
        <p>Letra pequeña: 12 cm Precio: $25.000</p>
        <p>Letra grande: 20-25 cm Precio: $50.000</p>
        <p>Porciones: Pequeña:6-8 Grande: 15-20</p>
        <div class="imagen">
            <a href="#img10">&#60;</a>
            <a href="#img12"><img src="assets/imagenes/tortas/torta-6.jpg" alt=""></a>
            <a href="#img12">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modal" id="img12">
        <h3>Torta 9</h3>
        <p>Precio: $49.900</p>
        <p>Porciones: 15 </p>
        <div class="imagen">
            <a href="#img11">&#60;</a>
            <a href="#img1"><img src="assets/imagenes/tortas/torta-9.jpg" alt=""></a>
            <a href="#img1">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>
</body>
