<body>
    <section class="contenedor"> 
        <h1>PRODUCTOS</h1>
        <h2>La Mejor</h2>
        
    </section><br/><br/>

    <div class="contenedor-galeria">
        <ul class="galeria">
            <li><a href="#img1"><img src="assets/imagenes/ponques/ponqu-133.jpg" alt=""></a></li>
            <li><a href="#img2"><img src="assets/imagenes/ponques/ponqu-134.jpg" alt=""></a></li>
            <li><a href="#img3"><img src="assets/imagenes/ponques/ponqu-141.jpg" alt=""></a></li>
            <li><a href="#img4"><img src="assets/imagenes/ponques/ponqu-148.jpg" alt=""></a></li>
            <li><a href="#img5"><img src="assets/imagenes/ponques/ponqu-152_thumb.jpg" alt=""></a></li>
            <li><a href="#img6"><img src="assets/imagenes/ponques/ponqu-153_thumb.jpg" alt=""></a></li>
            <li><a href="#img7"><img src="assets/imagenes/ponques/ponque-118.jpg" alt=""></a></li>
            <li><a href="#img8"><img src="assets/imagenes/ponques/ponque-127.jpg" alt=""></a></li>
            <li><a href="#img9"><img src="assets/imagenes/ponques/ponque-50.jpg" alt=""></a></li>
            <li><a href="#img10"><img src="assets/imagenes/ponques/ponque-62.jpg" alt=""></a></li>
            
        </ul>
    </div>

    <div class="modal" id="img1">
        <h3>Ponque Corona</h3>
        <p>Precio: $70.000</p>
        <p>Porciones: 15 </p>
        <div class="imagen">
            <a href="#img12">&#60;</a>
            <a href="#img2"><img src="assets/imagenes/ponques/ponqu-133.jpg" alt=""></a>
            <a href="#img2">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modal" id="img2">
        <h3>Poque Futbol Barcelona</h3>
        <p>Precio: $70.000</p>
        <p>Porciones: 15 </p>
        <div class="imagen">
            <a href="#img1">&#60;</a>
            <a href="#img3"><img src="assets/imagenes/ponques/ponqu-134.jpg" alt=""></a>
            <a href="#img3">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modal" id="img3">
        <h3>Ponque Quince Años</h3>
        <p>Precio: $150.900</p>
        <p>Porciones: 30 </p>
        <div class="imagen">
            <a href="#img2">&#60;</a>
            <a href="#img4"><img src="assets/imagenes/ponques/ponqu-141.jpg" alt=""></a>
            <a href="#img4">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modal" id="img4">
        <h3>Ponque Cucuta </h3>
        <p>Precio: $70.900</p>
        <p>Porciones: 15</p>
        <div class="imagen">
            <a href="#img3">&#60;</a>
            <a href="#img5"><img src="assets/imagenes/ponques/ponqu-148.jpg" alt=""></a>
            <a href="#img5">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modal" id="img5">
        <h3>Ponque Dragon Ball Z</h3>
        <p>Precio: $110.000</p>
        <p>Porciones: 30 </p>  
        <div class="imagen">
            <a href="#img4">&#60;</a>
            <a href="#img6"><img src="assets/imagenes/ponques/ponqu-152_thumb.jpg" alt=""></a>
            <a href="#img6">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modal" id="img6">
        <h3>Ponque Casino</h3>
        <p>Precio: $70.000</p>
        <p>Porciones: 20 Personas</p>
        <div class="imagen">
            <a href="#img5">&#60;</a>
            <a href="#img7"><img src="assets/imagenes/ponques/ponqu-153_thumb.jpg" alt=""></a>
            <a href="#img7">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modal" id="img7">
        <h3>Ponque Princesa</h3>
        <p>Precio: $70.000</p>
        <p>Porciones: 20 Personas</p>
        <div class="imagen">
            <a href="#img6">&#60;</a>
            <a href="#img8"><img src="assets/imagenes/ponques/ponque-118.jpg" alt=""></a>
            <a href="#img8">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modal" id="img8">
        <h3>Ponque Primera Comunión</h3>
        <p>Precio: $90.000</p>
        <p>Porciones: 25 </p>
        <div class="imagen">
            <a href="#img7">&#60;</a>
            <a href="#img9"><img src="assets/imagenes/ponques/ponque-127.jpg" alt=""></a>
            <a href="#img9">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modal" id="img9">
        <h3>Ponque Cumple Años</h3>
        <p>Precio: $90.900</p>
        <p>Porciones: 25 </p>
        <div class="imagen">
            <a href="#img8">&#60;</a>
            <a href="#img10"><img src="assets/imagenes/ponques/ponque-50.jpg" alt=""></a>
            <a href="#img10">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modal" id="img10">
        <h3>Ponque Futbol Juventus</h3>
        <p>Precio: $150.000</p>
        <p>Porciones: 30</p>
        
        <div class="imagen">
            <a href="#img9">&#60;</a>
            <a href="#img11"><img src="assets/imagenes/ponques/ponque-62.jpg" alt=""></a>
            <a href="#img11">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>
</body>
