<body>
    <section class="contenido wrapper">
        <img src="assets/imagenes/Panaderia_Reposteria.png" height="800" width="1800">
        <br/>
        <br/>

    </section>

<br/>
<br/>
<section class="contenido wrapper">
    <h1>PONQUÉS</h1>
    <br/>
    <h2>PRIMERA COMUNIÒN</h2>
    <br/>
     
    <iframe width="1200" height="720" src="https://www.youtube.com/embed/Il_vP2AOHRY" frameborder="0" 
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</section>
<br/>
<br/>

<section class="contenedor-columnas" id="pro">
    <br/><br/>
    <h1>NUESTROS PRODUCTOS</h1>
    <br/>
    <h2>TÙ ELIGES</h2>
    <br/>

    <div class="columnasx3" id="pro1">
        
        <h4>TORTAS</h4>
        <a class="nav-link active" [routerLink]="['/tortas']"><img src="assets/imagenes/torta.png" alt=""></a>
    
    </div>
    
    <div class="columnasx3" id="pro1">
        
        <h4>PONQUÉS</h4>
        <a class="nav-link active" [routerLink]="['/ponques']"><img src="assets/imagenes/ponque.png" alt=""></a>
    
    </div>
    
    <div class="columnasx3" id="pro1">
        
        <h4>PANADERÍA</h4>
        <a class="nav-link active" [routerLink]="['/panaderia']"><img src="assets/imagenes/pan-extrafino.png" alt=""></a>
    
    </div>
    
    <div class="columnasx3" id="pro1">
        
        <h4>BIZCOCHERÍA</h4>
        <a class="nav-link active" [routerLink]="['/bizcoheria']"><img src="assets/imagenes/dona.png" alt=""></a>
    
    </div>


</section>

<section class="contenido wrapper">
    <div class="columnasx2">
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            
                <h1>ATENCIÓN, PRESENTACIÓN Y CALIDAD</h1>
                <br/>
                <H2>Los pilares de <br/>
                nuestra filosofía.</H2>
                <br/><br/><br/><br/>

                <a class="nav-link active" [routerLink]="['lamejor']"><h1>Conocenós</h1></a>
           

    </div>

    <div class="columnasx2">
        <img src="assets/imagenes/novena.jpg" alt="">

    </div>


</section>


