<body>
    <header class="">
        <div class="wrapper">
        <div class="logo">
            <a class="nav-link active" [routerLink]="['/inicio']"><img src="assets/imagenes/logo1.png" height="80" width="200"></a>
        </div>
        <nav>
            
            <a class="nav-link active" [routerLink]="['/inicio']">INICIO</a>
            <a class="nav-link active" [routerLink]="['/registro-cliente']">REGISTRO CLIENTES</a>
            <a class="nav-link active" [routerLink]="['/registro-proveedor']">REGISTRO PROVEEDORES</a>
            <!-- <a class="nav-link active" [routerLink]="['/productos']">PRODUCTOS</a>
            <a class="nav-link active" [routerLink]="['/lamejor']">LA MEJOR</a>
            <a class="nav-link active" [routerLink]="['/contacto']">CONTACTO</a> -->
            
        </nav>
    </div>
  
    </header>

</body>    
