<body>
    <section class="contenedor-lamejor">

        <h1>NUESTRA EMPRESA</h1>
    </section>

    <section class="contenedor-reseña">

        <div class="contenedor-main">
            <div class="titulos">
                <h1>Reseña Histórica</h1>
                <h2>Panadería La Mejor</h2>
            </div>

            <div class="contenedor-columna">
                <p> La Panadería y  Bizcochería La Mejor fue fundada en el año 1948 en la calle 68 No.19-88 en la ciudad de Bogotá.
                    Los productos fueron creados por la empresa y las fórmulas y procedimientos son originados en sus salones de producción.  
                    Su fundador y creador, además de la mayoría de las formulas es Pascual Pérez Pérez.</p>
                    <p> Mejor se ha extendido; está presente en varias ciudades del país siendo pionera en su estilo en cada uno de los sitios 
                    donde están los siguientes establecimientos de panadería y pastelería: Aguachica, Valledupar, Bogotá, Bucaramanga, Cúcuta, 
                    Barranquilla, Cartagena, Montería,  y Villavicencio. En la ciudad de Cúcuta la Panadería y Bizcochería La Mejor, empezó a 
                    prestar servicio al público el primero de agosto de 1968 en la Avenida 5  No.14-55. </p>


            </div>

            <div class="contenedor-columna">
                <img src="assets/imagenes/decoracion.jpg">
            </div>

            <div class="contenedor-columna">
                <p>
                    Su propietario inicial, Pascual Pérez Pérez, la vendió el 1 de Diciembre de 1970 a la señora Berta Preciado de Duque quien el 1 de Octubre 
                    de 1975 la vendió a la señora Luisa de Gómez quien a su vez en el año 1985 la vendió al señor Tulio Eduardo Duque Preciado, su actual propietario y gerente.</p>  
                    <p> partir de ese momento el propósito del nuevo gerente fue el de recuperar los antiguos niveles de producción ya que la economía de la ciudad había 
                    sido fuertemente golpeada por la crisis de la devaluación del Bolívar afectando todos los sectores de la economía de la región (1983).  De esta manera 
                    se emplea la expansión de la empresa creando nuevos salones de venta que permitieron cubrir un mercado más amplio.
                </p>
            </div>

        </div><br><br><br><br>

        <section class="contenedor-reseña1">

            <div class="contenedor-main1 ">
                <div class="titulos">
                    <h1>Misión</h1>
                    <h2>Producir Felicidad</h2>
                </div>
    
                <div class="contenedor-columna1">
                    <p> A <b>Clientes, Proveedores y Fuerzas</b> que intervienen en los diferentes procesos de Panadería y Pastelería La Mejor, 
                        mediante la satisfacción de sus necesidades Implícitas Generales, sus Necesidades Implícitas particulares y sus Necesidades explicitas. 
                        Por medio de la elaboración de Pan, Ponqués, Tortas, Bizcochería, Repostería, Dulces, Hayacas y Cafetería, manteniendo como base los 
                        tres pilares fundamentales que sostienen la filosofía de La Mejor: Atención, Presentación y Calidad. </p>
    
                </div>
    
                <div class="contenedor-columna1">
                    <p>
                        <b>Atención</b> pronta y servicial respondiendo siempre educadamente a las necesidades explicitas e implícitas de todos con Respeto, Amabilidad, 
                        Agrado, Honestidad y Humildad, tratando a todos como lo merecemos los seres humanos.</p><br> 
                        <p> <b>Presentación</b> excelente y apropiada en los productos, en el personal, en la infraestructura física de todas las aéreas de La Mejor.</p><br>
                        <p>
                            <b>Calidad máxima</b> y garantizada de los procesos y productos en su sabor, color, olor, tamaño y precio. Calidad obtenida por la utilización 
                            de materias primas de primerísima calidad manteniendo la inocuidad como primordial en la producción de alimentos.
                        </p>
                </div>
    
            </div><br><br><br><br><br><br><br>


            <section class="contenedor-reseña1">

                <div class="contenedor-main1 ">
                    <div class="titulos">
                        <h1>Visión</h1>
                        <h2>Expansión y liderazgo del mercado</h2>
                    </div>
        
                    <div class="contenedor-columna">
                        <p> Aplicando los tres pilares fundamentales que sostienen la filosofía de Panadería y Pastelería La Mejor, Atención, Presentación y Calidad, se mantiene como:</p><br>
                            <p> <b> Permanente:</b> Mantener  el liderazgo y La expansión para cubrir el mercado total de Cúcuta.</p><br>
                            <p> <b> a Largo Plazo:</b> Cubrir mercados de Grandes cadenas de tiendas por departamentos a nivel nacional e 
                            internacional, expansión de la cadena de Panadería y Pastelería La Mejor a nivel Nacional e internacional. </p>
        
                    </div>
        
                    <div class="contenedor-columna">
                        <p><b> Política de Calidad e Inocuidad:</b></p><br> 
                            <p> Panadería y Pastelería La Mejor tiene como firme compromiso satisfacer las necesidades explicitas e implícitas del cliente 
                                mediante el mejoramiento continuo e inocuidad de sus productos y procesos. Con un equipo humano motivado y competente, apoyado 
                                en una infraestructura adecuada acorde a las exigencias del mercado y contando con los mejores proveedores que garanticen 
                                insumos de excelente calidad para el desarrollo de nuestros productos.</p>
                           
                    </div>

                    <div class="contenedor-columna">
                        <p><b> Objetivos De Calidad E Inocuidad:</b></p><br> 
                            
                            <p>
                                <li>Garantizar la inocuidad de los productos y la mejora continua de los procesos.</li>
                                <li>Satisfacer las necesidades implícitas y explicitas del cliente.</li>
                                <li>Garantizar la selección, formación y desarrollo adecuado de personal</li>
                                <li>Contar con la maquinaria y equipo adecuado.</li>
                                <li>Asegurar proveedores que garanticen insumos de excelente calidad.</li>
                            </p>
                    </div>
        
                </div>

            </section>
        </section>

    </section>

</body>